/* font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

header {
    width: 100%;
    height: 63px;
    margin-top: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #75B79E;
}

.tabuleiro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 110px;
    padding-bottom: 35px;
    width: 75%;
    gap: 34px 34px;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
}

img{
    width: 100px;
    height: 100px;
}

.corpo-carta{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg);
}

.front-face{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.card.escolhida .front-face{
    transform: rotateY(0deg);
  }

.card.escolhida .back-face {
    transform: rotateY(-180deg);
  }








.card:hover {
    cursor: pointer;
}
